<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bf.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DetailsActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bf.popularmovies.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.Details2Activity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bf.popularmovies.ui.activity.MainActivity" />
        </activity>

        <provider
            android:name="com.bf.popularmovies.db.MoviesContentProvider"
            android:authorities="com.bf.popularmovies"
            android:exported="false"/>

    </application>

</manifest>